body{
  font-family: Arial;
}

h1{
  font-family: Courier;
  color: blue;
}

#header{
  border: 3px solid green;
  padding: 15px;
  margin: 8px;
  text-align: center;
}

#aside-nav{
  width: 20%;
  float: left;
}

#container{
  float: right;
  width: 74%;
  padding: 20px;
  border-left: 1px solid lightgrey;
}

#footer{
  clear: both;
  border-top: 1px solid lightgrey;
}